.qj-highlight {
    position: absolute;
    margin-top: -1px;
    margin-left: -0.3em;
    padding: 0 0.3em;
    background-color: white;
    color: black;
    font-family: monaco;
    font-weight: bold;
    border: #555 1px solid;
    font-size: 100%;
    opacity: 0.8;
}
